[submodule "MT Survival/mobs_redo"]
	path = MT Survival/mobs_redo
	url = https://notabug.org/TenPlus1/mobs_redo.git
[submodule "MT Survival/mobs_animal"]
	path = MT Survival/mobs_animal
	url = https://notabug.org/tenplus1/mobs_animal.git
[submodule "MT Survival/mobs_npc"]
	path = MT Survival/mobs_npc
	url = https://notabug.org/tenplus1/mobs_npc.git
[submodule "MT Survival/mob_horse"]
	path = MT Survival/mob_horse
	url = https://notabug.org/tenplus1/mob_horse.git
[submodule "MT Survival/sneeker"]
	path = MT Survival/sneeker
	url = https://github.com/AntumMT/mod-sneeker.git
[submodule "MT Survival/dmobs"]
	path = MT Survival/dmobs
	url = https://notabug.org/tenplus1/dmobs.git
[submodule "MT Survival/3d_armor"]
	path = MT Survival/3d_armor
	url = https://github.com/minetest-mods/3d_armor.git
[submodule "MT Survival/farming"]
	path = MT Survival/farming
	url = https://notabug.org/tenplus1/farming.git
[submodule "MT Survival/mesecons"]
	path = MT Survival/mesecons
	url = https://github.com/minetest-mods/mesecons.git
[submodule "MT Survival/moreblocks"]
	path = MT Survival/moreblocks
	url = https://github.com/minetest-mods/moreblocks.git
[submodule "MT Survival/unified_inventory"]
	path = MT Survival/unified_inventory
	url = https://github.com/minetest-mods/unified_inventory.git
[submodule "MT Survival/nether"]
	path = MT Survival/nether
	url = https://github.com/minetest-mods/nether.git
[submodule "MT Survival/homedecor_modpack"]
	path = MT Survival/homedecor_modpack
	url = https://gitlab.com/VanessaE/homedecor_modpack.git
[submodule "MT Survival/hangglider"]
	path = MT Survival/hangglider
	url = https://notabug.org/Piezo_/minetest-hangglider.git
[submodule "MT Survival/bonemeal"]
	path = MT Survival/bonemeal
	url = https://notabug.org/tenplus1/bonemeal.git
[submodule "MT Survival/travelnet"]
	path = MT Survival/travelnet
	url = https://github.com/Sokomine/travelnet.git
[submodule "MT Survival/livingnether"]
	path = MT Survival/livingnether
	url = https://github.com/Skandarella/livingnether.git
[submodule "MT Survival/bows"]
	path = MT Survival/bows
	url = https://notabug.org/TenPlus1/bows.git
[submodule "MT Survival/stamina"]
	path = MT Survival/stamina
	url = https://github.com/minetest-mods/stamina.git
[submodule "MT Survival/boost_cart"]
	path = MT Survival/boost_cart
	url = https://github.com/SmallJoker/boost_cart.git
[submodule "MT Survival/bike"]
	path = MT Survival/bike
	url = https://gitlab.com/h2mm/bike.git
[submodule "MT Survival/hot_air_balloons"]
	path = MT Survival/hot_air_balloons
	url = https://notabug.org/NetherEran/hot_air_balloons.git
[submodule "MT Survival/snowdrift"]
	path = MT Survival/snowdrift
	url = https://github.com/paramat/snowdrift.git
[submodule "MT Survival/drawers"]
	path = MT Survival/drawers
	url = https://github.com/minetest-mods/drawers.git
[submodule "MT Survival/sailing_kit"]
	path = MT Survival/sailing_kit
	url = https://github.com/TheTermos/sailing_kit.git
[submodule "MT Survival/auroras"]
	path = MT Survival/auroras
	url = https://github.com/random-geek/auroras.git
[submodule "MT Survival/castle_gates"]
	path = MT Survival/castle_gates
	url = https://github.com/minetest-mods/castle_gates.git
[submodule "MT Survival/magic_potions"]
	path = MT Survival/magic_potions
	url = https://github.com/appgurueu/magic_potions.git
[submodule "MT Survival/caverealms_lite.git"]
	path = MT Survival/caverealms_lite.git
	url = https://github.com/Ezhh/caverealms_lite.git
[submodule "MT Survival/algae"]
	path = MT Survival/algae
	url = https://github.com/exevirus/algae.git
[submodule "MT Survival/farming_flood"]
	path = MT Survival/farming_flood
	url = https://github.com/AFCMS/farming_flood.git
[submodule "MT Survival/stonebrick_dungeons"]
	path = MT Survival/stonebrick_dungeons
	url = https://codeberg.org/Hamlet/stonebrick_dungeons.git
[submodule "MT Survival/falls"]
	path = MT Survival/falls
	url = https://github.com/ExeVirus/falls.git
[submodule "MT Survival/mpd"]
	path = MT Survival/mpd
	url = https://github.com/orwell96/mpd.git
[submodule "MT Survival/airtanks"]
	path = MT Survival/airtanks
	url = https://github.com/minetest-mods/airtanks.git
[submodule "MT Survival/flowerpot"]
	path = MT Survival/flowerpot
	url = https://github.com/minetest-mods/flowerpot.git
[submodule "MT Survival/ropes"]
	path = MT Survival/ropes
	url = https://github.com/minetest-mods/ropes.git
[submodule "MT Survival/wooden_bucket"]
	path = MT Survival/wooden_bucket
	url = https://gitlab.com/h2mm/wooden_bucket.git
[submodule "MT Survival/minetest_orienteering"]
	path = MT Survival/minetest_orienteering
	url = https://repo.or.cz/minetest_orienteering.git
[submodule "MT Survival/playerplus"]
	path = MT Survival/playerplus
	url = https://notabug.org/tenplus1/playerplus.git
[submodule "MT Survival/cartographer_minetest_game"]
	path = MT Survival/cartographer_minetest_game
	url = https://gitlab.com/Df458/cartographer-mtg.git
[submodule "MT Survival/cartographer"]
	path = MT Survival/cartographer
	url = https://gitlab.com/Df458/cartographer.git
[submodule "MT Survival/tpr"]
	path = MT Survival/tpr
	url = https://github.com/minetest-mods/teleport-request.git
[submodule "MT Survival/sickles"]
	path = MT Survival/sickles
	url = https://github.com/t-affeldt/sickles.git
[submodule "MT Survival/fireflies"]
	path = MT Survival/fireflies
	url = https://github.com/Ezhh/fireflies.git
[submodule "MT Survival/bouncy_bed"]
	path = MT Survival/bouncy_bed
	url = https://notabug.org/MeseCraft/bouncy_bed.git
[submodule "MT Survival/bell"]
	path = MT Survival/bell
	url = https://github.com/Sokomine/bell.git
[submodule "MT Survival/bottle_message"]
	path = MT Survival/bottle_message
	url = https://gitlab.com/Fiftysix/bottle_message.git
[submodule "MT Survival/sounding_line"]
	path = MT Survival/sounding_line
	url = https://github.com/minetest-mods/sounding_line.git
[submodule "MT Survival/minetest_calendar"]
	path = MT Survival/minetest_calendar
	url = https://repo.or.cz/minetest_calendar.git
[submodule "MT Survival/minetest_doc_modpack"]
	path = MT Survival/minetest_doc_modpack
	url = https://repo.or.cz/minetest_doc_modpack.git
[submodule "MT Survival/grappling_hook"]
	path = MT Survival/grappling_hook
	url = https://github.com/v1nsai/grappling_hook.git
[submodule "MT Survival/replacer"]
	path = MT Survival/replacer
	url = https://github.com/Sokomine/replacer.git
[submodule "MT Survival/holidays"]
	path = MT Survival/holidays
	url = https://github.com/BlockySurvival/holidays.git
[submodule "MT Survival/skinsdb"]
	path = MT Survival/skinsdb
	url = https://github.com/minetest-mods/skinsdb.git
