[submodule "mt_survival/mods/mobs_redo"]
	path = mt_survival/mods/mobs_redo
	url = https://notabug.org/TenPlus1/mobs_redo.git
[submodule "mt_survival/mods/mobs_animal"]
	path = mt_survival/mods/mobs_animal
	url = https://notabug.org/tenplus1/mobs_animal.git
[submodule "mt_survival/mods/mobs_npc"]
	path = mt_survival/mods/mobs_npc
	url = https://notabug.org/tenplus1/mobs_npc.git
[submodule "mt_survival/mods/mob_horse"]
	path = mt_survival/mods/mob_horse
	url = https://notabug.org/tenplus1/mob_horse.git
[submodule "mt_survival/mods/sneeker"]
	path = mt_survival/mods/sneeker
	url = https://github.com/AntumMT/mod-sneeker.git
[submodule "mt_survival/mods/dmobs"]
	path = mt_survival/mods/dmobs
	url = https://notabug.org/tenplus1/dmobs.git
[submodule "mt_survival/mods/3d_armor"]
	path = mt_survival/mods/3d_armor
	url = https://github.com/minetest-mods/3d_armor.git
[submodule "mt_survival/mods/farming"]
	path = mt_survival/mods/farming
	url = https://notabug.org/tenplus1/farming.git
[submodule "mt_survival/mods/mesecons"]
	path = mt_survival/mods/mesecons
	url = https://github.com/minetest-mods/mesecons.git
[submodule "mt_survival/mods/moreblocks"]
	path = mt_survival/mods/moreblocks
	url = https://github.com/minetest-mods/moreblocks.git
[submodule "mt_survival/mods/unified_inventory"]
	path = mt_survival/mods/unified_inventory
	url = https://github.com/minetest-mods/unified_inventory.git
[submodule "mt_survival/mods/nether"]
	path = mt_survival/mods/nether
	url = https://github.com/minetest-mods/nether.git
[submodule "mt_survival/mods/homedecor_modpack"]
	path = mt_survival/mods/homedecor_modpack
	url = https://gitlab.com/VanessaE/homedecor_modpack.git
[submodule "mt_survival/mods/hangglider"]
	path = mt_survival/mods/hangglider
	url = https://notabug.org/Piezo_/minetest-hangglider.git
[submodule "mt_survival/mods/bonemeal"]
	path = mt_survival/mods/bonemeal
	url = https://notabug.org/tenplus1/bonemeal.git
[submodule "mt_survival/mods/travelnet"]
	path = mt_survival/mods/travelnet
	url = https://github.com/Sokomine/travelnet.git
[submodule "mt_survival/mods/livingnether"]
	path = mt_survival/mods/livingnether
	url = https://github.com/Skandarella/livingnether.git
[submodule "mt_survival/mods/bows"]
	path = mt_survival/mods/bows
	url = https://notabug.org/TenPlus1/bows.git
[submodule "mt_survival/mods/stamina"]
	path = mt_survival/mods/stamina
	url = https://github.com/minetest-mods/stamina.git
[submodule "mt_survival/mods/boost_cart"]
	path = mt_survival/mods/boost_cart
	url = https://github.com/SmallJoker/boost_cart.git
[submodule "mt_survival/mods/bike"]
	path = mt_survival/mods/bike
	url = https://gitlab.com/h2mm/bike.git
[submodule "mt_survival/mods/hot_air_balloons"]
	path = mt_survival/mods/hot_air_balloons
	url = https://notabug.org/NetherEran/hot_air_balloons.git
[submodule "mt_survival/mods/snowdrift"]
	path = mt_survival/mods/snowdrift
	url = https://github.com/paramat/snowdrift.git
[submodule "mt_survival/mods/drawers"]
	path = mt_survival/mods/drawers
	url = https://github.com/minetest-mods/drawers.git
[submodule "mt_survival/mods/sailing_kit"]
	path = mt_survival/mods/sailing_kit
	url = https://github.com/TheTermos/sailing_kit.git
[submodule "mt_survival/mods/auroras"]
	path = mt_survival/mods/auroras
	url = https://github.com/random-geek/auroras.git
[submodule "mt_survival/mods/castle_gates"]
	path = mt_survival/mods/castle_gates
	url = https://github.com/minetest-mods/castle_gates.git
[submodule "mt_survival/mods/magic_potions"]
	path = mt_survival/mods/magic_potions
	url = https://github.com/appgurueu/magic_potions.git
[submodule "mt_survival/mods/caverealms_lite.git"]
	path = mt_survival/mods/caverealms_lite.git
	url = https://github.com/Ezhh/caverealms_lite.git
[submodule "mt_survival/mods/algae"]
	path = mt_survival/mods/algae
	url = https://github.com/exevirus/algae.git
[submodule "mt_survival/mods/farming_flood"]
	path = mt_survival/mods/farming_flood
	url = https://github.com/AFCMS/farming_flood.git
[submodule "mt_survival/mods/stonebrick_dungeons"]
	path = mt_survival/mods/stonebrick_dungeons
	url = https://codeberg.org/Hamlet/stonebrick_dungeons.git
[submodule "mt_survival/mods/falls"]
	path = mt_survival/mods/falls
	url = https://github.com/ExeVirus/falls.git
[submodule "mt_survival/mods/mpd"]
	path = mt_survival/mods/mpd
	url = https://github.com/orwell96/mpd.git
[submodule "mt_survival/mods/airtanks"]
	path = mt_survival/mods/airtanks
	url = https://github.com/minetest-mods/airtanks.git
[submodule "mt_survival/mods/flowerpot"]
	path = mt_survival/mods/flowerpot
	url = https://github.com/minetest-mods/flowerpot.git
[submodule "mt_survival/mods/ropes"]
	path = mt_survival/mods/ropes
	url = https://github.com/minetest-mods/ropes.git
[submodule "mt_survival/mods/wooden_bucket"]
	path = mt_survival/mods/wooden_bucket
	url = https://gitlab.com/h2mm/wooden_bucket.git
[submodule "mt_survival/mods/minetest_orienteering"]
	path = mt_survival/mods/minetest_orienteering
	url = https://repo.or.cz/minetest_orienteering.git
[submodule "mt_survival/mods/playerplus"]
	path = mt_survival/mods/playerplus
	url = https://notabug.org/tenplus1/playerplus.git
[submodule "mt_survival/mods/cartographer_minetest_game"]
	path = mt_survival/mods/cartographer_minetest_game
	url = https://gitlab.com/Df458/cartographer-mtg.git
[submodule "mt_survival/mods/cartographer"]
	path = mt_survival/mods/cartographer
	url = https://gitlab.com/Df458/cartographer.git
[submodule "mt_survival/mods/tpr"]
	path = mt_survival/mods/tpr
	url = https://github.com/minetest-mods/teleport-request.git
[submodule "mt_survival/mods/sickles"]
	path = mt_survival/mods/sickles
	url = https://github.com/t-affeldt/sickles.git
[submodule "mt_survival/mods/fireflies"]
	path = mt_survival/mods/fireflies
	url = https://github.com/Ezhh/fireflies.git
[submodule "mt_survival/mods/bouncy_bed"]
	path = mt_survival/mods/bouncy_bed
	url = https://notabug.org/MeseCraft/bouncy_bed.git
[submodule "mt_survival/mods/bell"]
	path = mt_survival/mods/bell
	url = https://github.com/Sokomine/bell.git
[submodule "mt_survival/mods/bottle_message"]
	path = mt_survival/mods/bottle_message
	url = https://gitlab.com/Fiftysix/bottle_message.git
[submodule "mt_survival/mods/sounding_line"]
	path = mt_survival/mods/sounding_line
	url = https://github.com/minetest-mods/sounding_line.git
[submodule "mt_survival/mods/minetest_calendar"]
	path = mt_survival/mods/minetest_calendar
	url = https://repo.or.cz/minetest_calendar.git
[submodule "mt_survival/mods/minetest_doc_modpack"]
	path = mt_survival/mods/minetest_doc_modpack
	url = https://repo.or.cz/minetest_doc_modpack.git
[submodule "mt_survival/mods/grappling_hook"]
	path = mt_survival/mods/grappling_hook
	url = https://github.com/v1nsai/grappling_hook.git
[submodule "mt_survival/mods/replacer"]
	path = mt_survival/mods/replacer
	url = https://github.com/Sokomine/replacer.git
[submodule "mt_survival/mods/holidays"]
	path = mt_survival/mods/holidays
	url = https://github.com/BlockySurvival/holidays.git
[submodule "mt_survival/mods/skinsdb"]
	path = mt_survival/mods/skinsdb
	url = https://github.com/minetest-mods/skinsdb.git
